.form-tracker-container {
  border-bottom: 1px solid #DCE0E6;
}
// border-top: 1px solid #DCE0E6;

.form-tracker {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 900px;
  margin: 20px auto 20px;
}

.other-form {
  color: #00000036;
}

.current-form {
  color: #2e34df;
  font-weight: bold;
}

// .currentForm {
//
// }
