.tasker-dashboard-info {
  display: flex;
  flex-direction: row;
  justify-content: left;
  color: black;
}

.tasker-info-box {
  width: 500px;
}

.taskerImg {
  max-height: 200px;
  max-width: 240px;
}

.taskerImg-nav-container {
  display: flex;
  flex-direction: column;
}

.taskerImg-nav-container > div {
  display: flex;
  flex-direction: row;
}

.taskerImg-nav-container > div > div {
  margin: 5px;
  padding: 10px;
}

.tasker-attribute-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.tasker-attribute-container > div {
  padding: 5px;
  margin: 5px;
}

.tasker-attribute-name {
  width: 75px;
}

.tasker-attribute-content {
  width: 280px;
}

.save-edit-container {
  display: flex;
  flex-direction: row;
}

.save-edit-container > div {
  margin: 5px;
}

#tasker-search {
  display: flex;
  flex-direction: row;
}

#tasker-search-bar {
  height: 0px;
  width: 242px;
  font-size: 15px;
}

#tasker-query-results {
  width: 250px;
  top: 24px;
}

.size-vehicle-options {
  display: flex;
  flex-direction: row;
  width: 280px;
}

.size-vehicle-options > div {
  padding-right: 8px;
  margin-right: 8px;
}

#buffer {
  margin-left: 29px;
  margin-right: 29px;
}
 .tasker-schedule-days {
   display: flex;
   flex-direction: column;
 }

 .tasker-schedule-days > div {
   display: flex;
   flex-direction: row;
 }

 .tasker-schedule-days > div > div {
   margin: 5px;
   padding: 5px;
   margin-top: 0;
   padding-top: 0;
   width: 70px;
 }

 .tasker-schedule-times {
   display: flex;
   flex-direction: row;
 }

 .tasker-schedule-times > div > div {
    margin: 10px;
    padding: 10px;
    width: 50px;
 }

 .selectedDay-tasker {
   font-weight: bold;
   color: green;
 }

 // .selectedDay-tasker:hover {
 //   cursor:pointer;
 // }

 .unselectedDay-tasker:hover {
   cursor: pointer;
   color: green;
 }


.selectedTime-tasker {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  color: green;
}

.unselectedTime-tasker {
  display: flex;
  flex-direction: row;
}

.time-hover {
  display: none;
  margin-left: 5px;
  cursor: pointer;
}

.time-title:hover + .time-hover {
  display: block;
  cursor: pointer;
}

 .unselectedTime-tasker:hover {
   color: green;
   cursor:pointer;
 }

 .selectedTime-tasker:hover {
   color: red;
   font-weight: normal;
   cursor:pointer;
 }
