/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #2e34df ;
  background-color: #8687860f;
  height: 100%;
}
/* #2e34df */
html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
}

.main-content-container {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px;
}


footer {
 position: absolute;
 bottom: 0;
 width: 100%;
 display: flex;
 flex-direction: row;
 align-items: center;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: 1px solid #DCE0E6;
}

.footer-link {
  margin: 15px;
}
